name: build java
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - master
    paths:
      - java/**

permissions:
  contents: read
  packages: write

jobs:
  push:
    name: "yolks:java_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 21
          # - 8
          # - 11
          # - 17
          # - 18
          # - 19
          # - 25
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - uses: chainguard-dev/actions/setup-melange@main

      - name: Generate signing keys
        working-directory: java
        run: melange keygen

      - name: Build entrypoint package
        working-directory: java
        run: |
          melange build entrypoint/melange.yaml \
            --source-dir . \
            --signing-key melange.rsa

      - uses: chainguard-images/actions/apko-publish@main
        with:
          config: java/${{ matrix.tag }}/apko.yaml
          tag: ghcr.io/${{ github.repository }}:java_${{ matrix.tag }}
          keyring-append: java/melange.rsa.pub
          repository-append: java/packages
